name: Publish to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  test:
    name: Run tests before publishing
    uses: .github/workflows/tests.yml # Reuse test workflow

  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: test # Wait for tests to pass
    environment:
      name: pypi
      url: https://pypi.org/p/pyglet-ldtk
    permissions:
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Build package
        run: uv build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
